.control {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 20px;
}

#container {
  display: flex;
  justify-content: center;
  max-width: 960px;
  height: 960px;
  flex-wrap: wrap;
  border: 1px solid black;
}

#container>div {
  border: 1px solid black;
}

.drawn {
  background-color: grey;
}