.square {
  border: 1px solid black;
  box-sizing: border-box;
  flex: 1 1 auto;
  width: calc(100% / var(--grid-size));
  height: calc(100% / var(--grid-size))
}

.container {
  border: 1px solid black;
  height: 700px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  --grid-size: 16;
}

.filled {
  background-color: black;
}